body {
font-family: Arial;
background: #f4f6f9;
margin:0;
padding:0;
}

header {
background: #0d1b2a;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
}

.card {
background:white;
padding:20px;
margin:20px;
border-radius:10px;
}

input, textarea, button, select {
width:100%;
margin-top:10px;
padding:10px;
}

button {
background:#1b263b;
color:white;
border:none;
}
